* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #9ac5ca;
  text-align: center;
  padding: 15px;
}

header h1 {
  color: white;
}

header span {
  color: cyan;
}

body {
  background-color: #4a6c74;
}

body h1 {
  color: white;
  font-size: 50px;
}

body p {
  color: white;
}

.botao01 {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  background: #92bdc6;
  color: white;
  text-decoration: none;
  padding: 14px 25px; 
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.botao01:hover {
  background: #487680;
}

.botao02 { 
  -webkit-tap-highlight-color: transparent;
  outline: none;
  margin: 15px;
  background: #66e1a9;
  color: white;
  text-decoration: none;
  padding: 14px 25px; 
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.3);
}

.botao02:hover {
  background-color: #378461;
  transition: 0,55s;
}

.botao02:active {
  box-shadow: inset 0 4px 6px rgba(0,0,0,0.4); 
  transform: translateY(2px); 
}

main {
  margin: 0;
  padding: 15px;
}

main span {
  color: #a1e39e;
}

.meio-do-site {
  margin: 0;
  padding: 15px;
  background: #9ac5ca;
  color: white;
}

.meio-do-site h2 {
  text-align: center;
}

.texto-meio-site {
  margin: 0; 
  padding: 15px;
}

/* card */
.card {
  display: flex;
  align-items: flex-start;
  background: #9ac5ca;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
  padding: 12px;
  width: 100%;
  max-width: 95%;
  margin: 10px auto;
  gap: 10px;
}

.card img {
  width: 110px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.card-content {
  flex: 1;
}

.card-content h2 {
  margin: 0;
  font-size: 16px;
  color: white;
}

.card-content p {
  margin-top: 4px;
  font-size: 13px;
  color: white;
  line-height: 1.3;
}